<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ABS NOC{% endblock %}</title>
    <link rel="stylesheet" href="/scss/compiler.php?v={{ "now"|date("U") }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/servers">Servers</a>
        {#{% if user %}#}
            <form method="POST" action="/logout">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                <button type="submit">Logout</button>
            </form>
        {#{% else %}
            <a href="/login">Login</a> | <a href="/register">Register</a>
        {% endif %}#}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
