<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABS NOC - Login</title>
    <link rel="stylesheet" href="/scss/compiler.php?v={{ "now"|date("U") }}">
</head>
<body>
    <h1>Login</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="email" name="email" required placeholder="Email">
        <input type="password" name="password" required placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <button id="dark-mode-toggle">🌙 Dark Mode</button>

{{ jsfile('darkModeToggle.js') }}

</body>
</html>